.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1rem 2rem;
    background-image: url(images/bg-pattern-card.svg);
    transition: 300ms;
}

.attribution p {
    font-weight: 700;
    letter-spacing: 1px;
    margin: .5em;
}
.attribution a {
    color: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color1: hsl(229, 23%, 23%);
    --color2:  hsl(227, 10%, 46%);
    --color3: hsl(185, 75%, 39%);
    --font:'Kumbh Sans', sans-serif;
    --font-size1: 18px;
    --font-weight1: 400;
    --font-weight2: 700;

}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--color3);
    font-family: var(--font);
}

h1{
    font-size: 18px;
    font-weight: var(--font-weight2);
    color: var(--color1);
}

span, p{
    font-weight: var(--font-weight1);
    color: var(--color2);
}

.bg-pattern{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-pattern, .bottom-pattern{
    position: absolute;
    /* height: 800px; */
}

.top-pattern{
    transform: translate(-70%, -60%);
    top: 0;
    left: 0;
}

.bottom-pattern{
    transform: translate(70%, 60%);
    right: 0;
    bottom: 0;
}

.card{
    position: absolute;
    min-width: 300px;
    height: 300px;
    background: white;
    display: grid;
    grid-template: 35% 40% auto / 1fr;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 30px 20px rgba(0,0,0,.08);
}

.header-pattern{
    width: 100%;
    background: url(images/bg-pattern-card.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content, .statistic{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--color1);
}
.content{
    border-bottom: solid 1px hsl(0, 0%, 94%);
}

.content img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: solid 8px white;
    position: absolute;
    top: -40%;
}

.content h1{
    margin-top: 2.5em;
}
.content p{
    margin-top: .4em;
}

.statistic{
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

.content-stat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-stat h1{
    margin: .5em;
}

.content-stat p{
    letter-spacing: 1px;
    font-size: .8rem;
}

/* web */
@media only screen and (min-width:768px){
    
    .top-pattern, .bottom-pattern{
        position: absolute;
        width: 100%;
    }

    .top-pattern{
        transform: translate(-40%, -70%);
    }
    
    .bottom-pattern{
        transform: translate(40%, 70%);
    }
}
